Repository yashrajdighe/iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: tofu-hclfmt, terragrunt-hclfmt

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: tofu-hclfmt
        name: tofu hclfmt
        description: Format opentofu/terraform HCL files with 'tofu fmt -recursive'
        entry: tofu fmt -recursive
        language: system
        files: \.tf$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]
        files: \.(yaml|yml)$

  - repo: local
    hooks:
      - id: terragrunt-hclfmt
        name: terragrunt hclfmt
        description: Format terragrunt HCL files with 'terragrunt hclfmt'
        entry: terragrunt hclfmt
        language: system
        files: \.hcl$

enable auto deployment
  modules/aws/aws_cloudformation_stackset/main.tf
Due: tofu-hclfmt

cleanup deleted resource files
  infrastructure/aws/_env/github_oidc_provider.hcl
  infrastructure/aws/common/north-virginia/github_oidc_provider/terragrunt.hcl
  infrastructure/aws/development/north-virginia/github_oidc_provider/terragrunt.hcl
  infrastructure/aws/playground/north-virginia/github_oidc_provider/terragrunt.hcl
  infrastructure/aws/production/north-virginia/github_oidc_provider/terragrunt.hcl
  infrastructure/aws/staging/north-virginia/github_oidc_provider/terragrunt.hcl
Due: terragrunt-hclfmt

add tg path tag to all resources
  infrastructure/terragrunt.hcl
Due: terragrunt-hclfmt

try another function
  infrastructure/terragrunt.hcl
Due: terragrunt-hclfmt

try abspath
  infrastructure/terragrunt.hcl
Due: terragrunt-hclfmt

trying...
  infrastructure/terragrunt.hcl
Due: terragrunt-hclfmt

still trying...
  infrastructure/terragrunt.hcl
Due: terragrunt-hclfmt

move the portfolio to reusable _env
  infrastructure/aws/_env/my_portfolio.hcl
  infrastructure/aws/development/north-virginia/my_portfolio/terragrunt.hcl
  infrastructure/aws/production/north-virginia/my_portfolio/terragrunt.hcl
  infrastructure/aws/staging/north-virginia/my_portfolio/terragrunt.hcl
Due: terragrunt-hclfmt

revert file rename, causing recreate
  infrastructure/aws/development/north-virginia/my-portfolio/terragrunt.hcl
  infrastructure/aws/production/north-virginia/my-portfolio/terragrunt.hcl
  infrastructure/aws/staging/north-virginia/my-portfolio/terragrunt.hcl
Due: terragrunt-hclfmt

add a missing param in cloudformation module, prevent from reverting the default changes
  modules/aws/aws_cloudformation_stackset/main.tf
Due: tofu-hclfmt

revert last cloudformation module change
  modules/aws/aws_cloudformation_stackset/main.tf
Due: tofu-hclfmt

add lifecycle policy to backup s3 bucket
  infrastructure/aws/common/north-virginia/s3/github-backup/terragrunt.hcl
  modules/aws/aws_s3_bucket/lifecycle_policy.tf
  modules/aws/aws_s3_bucket/variables.tf
Due: tofu-hclfmt, terragrunt-hclfmt

fix index issue
  modules/aws/aws_s3_bucket/lifecycle_policy.tf
Due: tofu-hclfmt

add lifecycle policy for failed multi part upload
  infrastructure/aws/common/north-virginia/s3/github-backup/terragrunt.hcl
  modules/aws/aws_s3_bucket/lifecycle_policy.tf
  modules/aws/aws_s3_bucket/variables.tf
Due: tofu-hclfmt, terragrunt-hclfmt

fix lifecycle policy
  modules/aws/aws_s3_bucket/lifecycle_policy.tf
Due: tofu-hclfmt

fix typo
  modules/aws/aws_s3_bucket/lifecycle_policy.tf
Due: tofu-hclfmt

add aws budgets in all accounts
  infrastructure/aws/_env/budgets.hcl
  infrastructure/aws/common/north-virginia/budget/terragrunt.hcl
  infrastructure/aws/development/north-virginia/budget/terragrunt.hcl
  infrastructure/aws/management/north-virginia/budget/terragrunt.hcl
  infrastructure/aws/playground/north-virginia/budget/terragrunt.hcl
  infrastructure/aws/production/north-virginia/budget/terragrunt.hcl
  infrastructure/aws/staging/north-virginia/budget/terragrunt.hcl
  modules/aws/aws_budgets/main.tf
  modules/aws/aws_budgets/variables.tf
Due: tofu-hclfmt, terragrunt-hclfmt

update budget amount and name
  infrastructure/aws/_env/budgets.hcl
  infrastructure/aws/common/north-virginia/budget/terragrunt.hcl
  infrastructure/aws/management/north-virginia/budget/terragrunt.hcl
  infrastructure/aws/playground/north-virginia/budget/terragrunt.hcl
  infrastructure/aws/production/north-virginia/budget/terragrunt.hcl
  infrastructure/aws/staging/north-virginia/budget/terragrunt.hcl
  modules/aws/aws_budgets/main.tf
  modules/aws/aws_budgets/variables.tf
Due: tofu-hclfmt, terragrunt-hclfmt

add name to dev
  infrastructure/aws/development/north-virginia/budget/terragrunt.hcl
Due: terragrunt-hclfmt

update currency in budget
  infrastructure/aws/_env/budgets.hcl
  infrastructure/aws/management/north-virginia/budget/terragrunt.hcl
  modules/aws/aws_budgets/variables.tf
Due: tofu-hclfmt, terragrunt-hclfmt

add visitors account
  infrastructure/aws/management/north-virginia/aws_accounts/visitor/terragrunt.hcl
Due: terragrunt-hclfmt

add cost budget for visitor account
  infrastructure/aws/visitor/account.hcl
  infrastructure/aws/visitor/env.hcl
  infrastructure/aws/visitor/north-virginia/budget/terragrunt.hcl
Due: terragrunt-hclfmt

add missing region.hcl
  infrastructure/aws/visitor/north-virginia/region.hcl
Due: terragrunt-hclfmt

enable public on launch in playground vpc
  infrastructure/aws/playground/north-virginia/vpc/terragrunt.hcl
Due: terragrunt-hclfmt

update module path
  infrastructure/aws/common/mumbai/lambda-layer/terragrunt.hcl
Due: terragrunt-hclfmt

fix path function
  modules/aws/aws_lambda_layer/main.tf
Due: tofu-hclfmt

create aws lambda module and deploy lambda
  infrastructure/aws/common/mumbai/lambda/pr-bot-github-webhook-handler/notifier.py
  infrastructure/aws/common/mumbai/lambda/pr-bot-github-webhook-handler/terragrunt.hcl
  modules/aws/aws_lambda/main.tf
  modules/aws/aws_lambda/outputs.tf
  modules/aws/aws_lambda/variables.tf
Due: tofu-hclfmt, terragrunt-hclfmt

move python file to a directory and update the path
  infrastructure/aws/common/mumbai/lambda/pr-bot-github-webhook-handler/code/notifier.py
  infrastructure/aws/common/mumbai/lambda/pr-bot-github-webhook-handler/terragrunt.hcl
Due: terragrunt-hclfmt

add remaining lambda functions
  infrastructure/aws/common/mumbai/lambda/pr-bot-async-action-processor/code/backgroundworker.py
  infrastructure/aws/common/mumbai/lambda/pr-bot-async-action-processor/terragrunt.hcl
  infrastructure/aws/common/mumbai/lambda/pr-bot-slack-interactive-gateway/code/responder.py
  infrastructure/aws/common/mumbai/lambda/pr-bot-slack-interactive-gateway/terragrunt.hcl
Due: terragrunt-hclfmt

add iam roles for portfolio deployment
  infrastructure/aws/development/north-virginia/my-portfolio/terragrunt.hcl
  infrastructure/aws/production/north-virginia/my-portfolio/terragrunt.hcl
  infrastructure/aws/staging/north-virginia/my-portfolio/terragrunt.hcl
  modules/aws/static_web_deployment/data.tf
  modules/aws/static_web_deployment/locals.tf
  modules/aws/static_web_deployment/main.tf
  modules/aws/static_web_deployment/variables.tf
Due: tofu-hclfmt, terragrunt-hclfmt

add new vars to playground as well
  infrastructure/aws/playground/north-virginia/static_web_deployment_testing/terragrunt.hcl
Due: terragrunt-hclfmt

update iam role name
  modules/aws/static_web_deployment/main.tf
Due: tofu-hclfmt

add support for retrieval of cloudflare token in static web
  modules/aws/static_web_deployment/data.tf
  modules/aws/static_web_deployment/main.tf
Due: tofu-hclfmt

add conditional statement for secrets manager policy
  infrastructure/aws/_env/my_portfolio.hcl
  modules/aws/static_web_deployment/data.tf
  modules/aws/static_web_deployment/main.tf
  modules/aws/static_web_deployment/variables.tf
Due: tofu-hclfmt, terragrunt-hclfmt

add cmk module and resource in common
  infrastructure/aws/common/mumbai/kms_cmk/secrets_manager/terragrunt.hcl
  modules/aws/aws_kms_cmk/main.tf
  modules/aws/aws_kms_cmk/outputs.tf
  modules/aws/aws_kms_cmk/variables.tf
Due: tofu-hclfmt, terragrunt-hclfmt

update cmk alias
  infrastructure/aws/common/mumbai/kms_cmk/secrets_manager/terragrunt.hcl
Due: terragrunt-hclfmt

update static web dev module to support cmk
  infrastructure/aws/common/mumbai/kms_cmk/secrets_manager/terragrunt.hcl
  infrastructure/aws/development/north-virginia/my-portfolio/terragrunt.hcl
  infrastructure/aws/production/north-virginia/my-portfolio/terragrunt.hcl
  infrastructure/aws/staging/north-virginia/my-portfolio/terragrunt.hcl
  modules/aws/static_web_deployment/data.tf
  modules/aws/static_web_deployment/main.tf
  modules/aws/static_web_deployment/variables.tf
Due: tofu-hclfmt, terragrunt-hclfmt

update dependency paths
  infrastructure/aws/development/north-virginia/my-portfolio/terragrunt.hcl
  infrastructure/aws/production/north-virginia/my-portfolio/terragrunt.hcl
  infrastructure/aws/staging/north-virginia/my-portfolio/terragrunt.hcl
Due: terragrunt-hclfmt

add support for cloudflare
  .github/workflows/tg-apply.yaml
  .github/workflows/tg-import.yaml
  .github/workflows/tg-plan.yaml
  infrastructure/aws/platform.hcl
  infrastructure/cloudflare/account.hcl
  infrastructure/cloudflare/platform.hcl
  infrastructure/cloudflare/zones/yashrajdighe.in/records/terragrunt.hcl
  infrastructure/cloudflare/zones/yashrajdighe.in/zone.hcl
  infrastructure/terragrunt.hcl
  modules/cloudflare/cloudflare_records/main.tf
  modules/cloudflare/cloudflare_records/outputs.tf
  modules/cloudflare/cloudflare_records/terraform.tf
  modules/cloudflare/cloudflare_records/variables.tf
  terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt
