Repository yashrajdighe/iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: tofu-hclfmt, terragrunt-hclfmt

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: tofu-hclfmt
        name: tofu hclfmt
        description: Format opentofu/terraform HCL files with 'tofu fmt -recursive'
        entry: tofu fmt -recursive
        language: system
        files: \.tf$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]
        files: \.(yaml|yml)$

  - repo: local
    hooks:
      - id: terragrunt-hclfmt
        name: terragrunt hclfmt
        description: Format terragrunt HCL files with 'terragrunt hclfmt'
        entry: terragrunt hclfmt
        language: system
        files: \.hcl$

fix issue with dubious ownership
  modules/cloudflare/cloudflare_records/terraform.tf
  terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

fix typo in zone.hcl
  infrastructure/cloudflare/account.hcl
  infrastructure/cloudflare/zones/yashrajdighe.in/zone.hcl
Due: terragrunt-hclfmt

resolve CI issues
  infrastructure/aws/playground/north-virginia/security_groups/allow_all/terragrunt.hcl
  infrastructure/cloudflare/account.hcl
Due: terragrunt-hclfmt

remove playground security group and fix cloudflare module path
  infrastructure/aws/playground/north-virginia/security_groups/allow_all/terragrunt.hcl
  infrastructure/cloudflare/zones/yashrajdighe.in/records/terragrunt.hcl
Due: terragrunt-hclfmt

fix issue with security group resources in playground
  infrastructure/aws/playground/north-virginia/security_groups/allow_all/terragrunt.hcl
Due: terragrunt-hclfmt

try again
  infrastructure/aws/playground/north-virginia/security_groups/allow_all/terragrunt.hcl
Due: terragrunt-hclfmt

fix module output for dns records
  modules/cloudflare/cloudflare_records/outputs.tf
Due: tofu-hclfmt

trim path to stop recreation of all resources
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

fix cloudflare api token issue
  .github/workflows/tg-apply.yaml
  .github/workflows/tg-import.yaml
  .github/workflows/tg-plan.yaml
Due: none

try without input
  .github/workflows/tg-apply.yaml
  .github/workflows/tg-import.yaml
  .github/workflows/tg-plan.yaml
Due: none

update test dns record
  terragrunt/infrastructure/cloudflare/zones/yashrajdighe.in/records/terragrunt.hcl
Due: terragrunt-hclfmt

integrate GCP
  modules/gcp/gcp_folder/main.tf
  modules/gcp/gcp_folder/outputs.tf
  modules/gcp/gcp_folder/variables.tf
  terragrunt/infrastructure/gcp/platform.hcl
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/folders/iac/terragrunt.hcl
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/project.hcl
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/org.hcl
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/personal/folders.hcl
  terragrunt/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

trying...
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

trying...
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/folders/iac/terragrunt.hcl
Due: terragrunt-hclfmt

trying.
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

tryig again
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

updated tg workflows
  .github/workflows/tg-apply.yaml
  .github/workflows/tg-import.yaml
  .github/workflows/tg-plan.yaml
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/org.hcl
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

trying
  modules/gcp/gcp_project/main.tf
  modules/gcp/gcp_project/outputs.tf
  modules/gcp/gcp_project/variables.tf
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/folders/iac/terragrunt.hcl
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/terragrunt.hcl
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/org.hcl
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/personal/folders.hcl
  terragrunt/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

try again
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/terragrunt.hcl
Due: terragrunt-hclfmt

try again
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/folders/iac/terragrunt.hcl
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

resolve plan error
  modules/gcp/gcp_project/outputs.tf
Due: tofu-hclfmt

try again
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

try
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

try with project id
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

add locals
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/project.hcl
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

fix locals
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

final test
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/folders/iac/terragrunt.hcl
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/terragrunt.hcl
Due: terragrunt-hclfmt

add support for folder_id in gcp_project
  modules/gcp/gcp_project/main.tf
  modules/gcp/gcp_project/variables.tf
Due: tofu-hclfmt

use folder id
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/folders/test-folder/terragrunt.hcl
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/terragrunt.hcl
Due: terragrunt-hclfmt

update vars name
  .github/workflows/tg-plan.yaml
Due: none

get service account from env
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

revert
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

update gcp test project name
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/terragrunt.hcl
Due: terragrunt-hclfmt

update project id
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/terragrunt.hcl
Due: terragrunt-hclfmt
