Repository yashrajdighe/iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: tofu-hclfmt, terragrunt-hclfmt

tofu-hclfmt:
  name: tofu hclfmt
  description: Format opentofu/terraform HCL files with 'tofu fmt -recursive'
  entry: tofu fmt -recursive
  language: system

terragrunt-hclfmt:
  name: terragrunt hclfmt
  description: Format terragrunt HCL files with 'terragrunt hclfmt'
  entry: terragrunt hclfmt
  language: system

resolve merge conflict
  terragrunt/infrastructure/aws/common/mumbai/devops-playground-in-cloudflare-origin-cert-rotator/terragrunt.hcl
Due: terragrunt-hclfmt

disable s3 policy for trust store
  terragrunt/infrastructure/aws/development/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
  terragrunt/infrastructure/aws/production/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
  terragrunt/infrastructure/aws/staging/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
Due: terragrunt-hclfmt

deploy self hosted runners for iac repo
  modules/aws/aws_self_hosted_runner/main.tf
  modules/aws/aws_self_hosted_runner/outputs.tf
  modules/aws/aws_self_hosted_runner/terraform.tf
  modules/aws/aws_self_hosted_runner/variables.tf
  terragrunt/_shared/providers/aws_alias.tftpl
  terragrunt/infrastructure/aws/_env/github_self_hosted_runner_common.hcl
  terragrunt/infrastructure/aws/common/north-virginia/github-self-hosted-runner/terragrunt.hcl
  terragrunt/infrastructure/aws/common/north-virginia/vpc/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

deploy self hosted runners for iac repo
  .gitignore
  modules/aws/aws_self_hosted_runner/main.tf
  modules/aws/aws_self_hosted_runner/outputs.tf
  modules/aws/aws_self_hosted_runner/scripts/download-lambdas.sh
  terragrunt/infrastructure/aws/_env/github_self_hosted_runner_common.hcl
  terragrunt/infrastructure/aws/common/north-virginia/github-self-hosted-runner/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

deploy self hosted runners for iac repo
  terragrunt/infrastructure/aws/common/north-virginia/github-self-hosted-runner/terragrunt.hcl
Due: terragrunt-hclfmt

deploy self hosted runners for iac repo
  .gitignore
  modules/aws/aws_self_hosted_runner/lambda_artifacts/v6.10.1/runner-binaries-syncer.zip
  modules/aws/aws_self_hosted_runner/lambda_artifacts/v6.10.1/runners.zip
  modules/aws/aws_self_hosted_runner/lambda_artifacts/v6.10.1/webhook.zip
  modules/aws/aws_self_hosted_runner/main.tf
  modules/aws/aws_self_hosted_runner/scripts/download-lambdas.sh
  terragrunt/infrastructure/aws/_env/github_self_hosted_runner_common.hcl
  terragrunt/infrastructure/aws/common/north-virginia/github-self-hosted-runner/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

deploy self hosted runners for iac repo
  modules/aws/aws_self_hosted_runner/main.tf
Due: tofu-hclfmt

fix lambda concurrency limit issu
  modules/aws/aws_self_hosted_runner/main.tf
  modules/aws/aws_self_hosted_runner/variables.tf
Due: tofu-hclfmt

test self hosted runner
  .github/workflows/tg-apply.yaml
  .github/workflows/tg-plan.yaml
Due: none

fix permission issues with lambda
  modules/aws/aws_self_hosted_runner/main.tf
  modules/aws/aws_self_hosted_runner/variables.tf
  terragrunt/infrastructure/aws/_env/github_self_hosted_runner_common.hcl
  terragrunt/infrastructure/aws/common/north-virginia/github-self-hosted-runner/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

fix permission issues with lambda
  terragrunt/infrastructure/aws/_env/github_self_hosted_runner_common.hcl
Due: terragrunt-hclfmt

upgrade self hosted runner ebs volume
  .cursor/rules/opentofu-terragrunt-no-cli.mdc
  .gitignore
  modules/aws/aws_self_hosted_runner/main.tf
  modules/aws/aws_self_hosted_runner/variables.tf
  terragrunt/infrastructure/aws/common/north-virginia/github-self-hosted-runner/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

fix issue with gcp module
  modules/gcp/gcp_project/main.tf
  modules/gcp/gcp_project/variables.tf
Due: tofu-hclfmt

upgrade runner config
  modules/aws/aws_self_hosted_runner/main.tf
  modules/aws/aws_self_hosted_runner/variables.tf
Due: tofu-hclfmt

import mtls secrets manager
  modules/aws/cloudflare_cloudfront_mtls/imports.tf
  modules/aws/cloudflare_cloudfront_mtls/variables.tf
  terragrunt/infrastructure/aws/common/mumbai/devops-playground-in-cloudflare-origin-cert-rotator/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

import mtls secrets manager
  modules/aws/cloudflare_cloudfront_mtls/data.tf
  modules/aws/cloudflare_cloudfront_mtls/imports.tf
  terragrunt/infrastructure/aws/common/north-virginia/github-self-hosted-runner/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

disable private subnet and nat gateway
  .cursor/rules/opentofu-terragrunt-no-cli.mdc
  modules/aws/aws_self_hosted_runner/main.tf
  modules/aws/aws_self_hosted_runner/variables.tf
  terragrunt/infrastructure/aws/common/north-virginia/github-self-hosted-runner/terragrunt.hcl
  terragrunt/infrastructure/aws/common/north-virginia/vpc/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

update self hosted runner network configs
  modules/aws/aws_self_hosted_runner/main.tf
  modules/aws/aws_self_hosted_runner/variables.tf
Due: tofu-hclfmt

update runner labels
  modules/aws/aws_self_hosted_runner/main.tf
  modules/aws/aws_self_hosted_runner/variables.tf
Due: tofu-hclfmt

test with new label
  .github/workflows/tg-apply.yaml
  .github/workflows/tg-plan.yaml
Due: none

migrate to graviton runners
  modules/aws/aws_self_hosted_runner/main.tf
  modules/aws/aws_self_hosted_runner/variables.tf
  terragrunt/infrastructure/aws/common/north-virginia/github-self-hosted-runner/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

enable s3 bucket policy for devops playground domain
  terragrunt/infrastructure/aws/development/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
  terragrunt/infrastructure/aws/production/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
  terragrunt/infrastructure/aws/staging/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
Due: terragrunt-hclfmt

update lambda layer to point to dynamic layer version
  terragrunt/infrastructure/aws/common/mumbai/lambda/pr-bot-async-action-processor/terragrunt.hcl
Due: terragrunt-hclfmt

update lambda layer to point to dynamic layer version
  terragrunt/infrastructure/aws/common/mumbai/lambda/pr-bot-async-action-processor/terragrunt.hcl
  terragrunt/infrastructure/aws/common/mumbai/lambda/pr-bot-github-webhook-handler/terragrunt.hcl
  terragrunt/infrastructure/aws/common/mumbai/lambda/pr-bot-slack-interactive-gateway/terragrunt.hcl
Due: terragrunt-hclfmt

update default permissions of projects and folders in gcp
  modules/gcp/gcp_folder/main.tf
  modules/gcp/gcp_folder/variables.tf
  modules/gcp/gcp_project/main.tf
  modules/gcp/gcp_project/variables.tf
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/folders/test-folder/terragrunt.hcl
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

fix dependency issues
  modules/gcp/gcp_project/outputs.tf
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/github-runner/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

fix broken gcp module
  modules/gcp/gcp_project/main.tf
  modules/gcp/gcp_project/variables.tf
Due: tofu-hclfmt

fix path issue
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/github-runner/terragrunt.hcl
Due: terragrunt-hclfmt

fix moudule path isseu
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/github-runner/terragrunt.hcl
Due: terragrunt-hclfmt

fix moudule path issue
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/github-runner/terragrunt.hcl
Due: terragrunt-hclfmt

fix moudule path issue
  modules/gcp/github-runner-gcp/terraform.tf
Due: tofu-hclfmt

Revert "update default permissions of projects and folders in gcp"
  modules/gcp/gcp_folder/main.tf
  modules/gcp/gcp_folder/variables.tf
  modules/gcp/gcp_project/main.tf
  modules/gcp/gcp_project/variables.tf
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/folders/test-folder/terragrunt.hcl
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

add s3 bucket for mtls main domain
  terragrunt/infrastructure/aws/_env/mtls_rotator_yashraj_dighe_in.hcl
  terragrunt/infrastructure/aws/production/mumbai/yashraj-dighe-mtls-trust-store/terragrunt.hcl
Due: terragrunt-hclfmt

add resources in common for main domain mtls
  terragrunt/infrastructure/aws/common/mumbai/yashraj-dighe-in-cloudflare-origin-cert-rotator/terragrunt.hcl
Due: terragrunt-hclfmt

Path conditions:
  tofu-hclfmt: any of: \.tf$
  terragrunt-hclfmt: any of: \.hcl$
