Repository yashrajdighe/iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: tofu-hclfmt, terragrunt-hclfmt

tofu-hclfmt:
  name: tofu hclfmt
  description: Format opentofu/terraform HCL files with 'tofu fmt -recursive'
  entry: tofu fmt -recursive
  language: system

terragrunt-hclfmt:
  name: terragrunt hclfmt
  description: Format terragrunt HCL files with 'terragrunt hclfmt'
  entry: terragrunt hclfmt
  language: system

reduce gcp project-id char
  terragrunt/infrastructure/gcp/yashrajdighe-dev-org/management/projects/test-iac-project/terragrunt.hcl
Due: terragrunt-hclfmt

add default tg-path tag to all resources
  terragrunt/_shared/providers/aws.tftpl
  terragrunt/_shared/providers/gcp.tftpl
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

update workflow trigger
  .github/workflows/tg-apply.yaml
  .github/workflows/tg-plan.yaml
Due: none

validation for gcp label tg path
  terragrunt/terragrunt.hcl
Due: terragrunt-hclfmt

update README
  README.md
Due: none

add spa routing cf function
  modules/aws/static_web_deployment/main.tf
  modules/aws/static_web_deployment/variables.tf
  modules/aws/static_web_deployment/viewer_request.js
Due: tofu-hclfmt

add domain for dev portfolio
  modules/aws/static_web_deployment/outputs.tf
  terragrunt/infrastructure/cloudflare/zones/yashrajdighe.in/records/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

fix outputs
  terragrunt/infrastructure/cloudflare/zones/yashrajdighe.in/records/terragrunt.hcl
Due: terragrunt-hclfmt

add support for acm cert module and resource
  modules/aws/aws_acm/main.tf
  modules/aws/aws_acm/outputs.tf
  modules/aws/aws_acm/terraform.tf
  modules/aws/aws_acm/variables.tf
  terragrunt/infrastructure/aws/_env/yd_acm_cert.hcl
  terragrunt/infrastructure/aws/development/north-virginia/yd_acm_cert/terragrunt.hcl
  terragrunt/infrastructure/aws/production/north-virginia/yd_acm_cert/terragrunt.hcl
  terragrunt/infrastructure/aws/staging/north-virginia/yd_acm_cert/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

verify acm cert creation
  modules/aws/aws_acm/terraform.tf
  terragrunt/infrastructure/cloudflare/zones/yashrajdighe.in/records/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

fix apex and wildcard verification
  terragrunt/infrastructure/cloudflare/zones/yashrajdighe.in/records/terragrunt.hcl
Due: terragrunt-hclfmt

add support for custom domain in static-web-iac module
  modules/aws/static_web_deployment/main.tf
  modules/aws/static_web_deployment/outputs.tf
  modules/aws/static_web_deployment/terraform.tf
  modules/aws/static_web_deployment/variables.tf
  terragrunt/infrastructure/aws/development/north-virginia/my-portfolio/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

fix cert arn output
  terragrunt/infrastructure/aws/development/north-virginia/my-portfolio/terragrunt.hcl
Due: terragrunt-hclfmt

add domain for staging portfoli
  terragrunt/infrastructure/aws/staging/north-virginia/my-portfolio/terragrunt.hcl
Due: terragrunt-hclfmt

add domain for staging portfolio
  terragrunt/infrastructure/cloudflare/zones/yashrajdighe.in/records/terragrunt.hcl
Due: terragrunt-hclfmt

cloudflare cloudfront mtls
  .gitignore
  modules/aws/cloudflare_cloudfront_mtls/code/__pycache__/handler.cpython-312.pyc
  modules/aws/cloudflare_cloudfront_mtls/code/handler.py
  modules/aws/cloudflare_cloudfront_mtls/data.tf
  modules/aws/cloudflare_cloudfront_mtls/main.tf
  modules/aws/cloudflare_cloudfront_mtls/outputs.tf
  modules/aws/cloudflare_cloudfront_mtls/terraform.tf
  modules/aws/cloudflare_cloudfront_mtls/variables.tf
  modules/aws/static_web_deployment/locals.tf
  modules/aws/static_web_deployment/mtls_trust_store.tf
  modules/aws/static_web_deployment/outputs.tf
  modules/aws/static_web_deployment/variables.tf
  terragrunt/infrastructure/aws/_env/my_portfolio.hcl
  terragrunt/infrastructure/aws/common/mumbai/cloudflare-origin-cert-rotator/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

few improvements
  modules/aws/cloudflare_cloudfront_mtls/data.tf
  modules/aws/cloudflare_cloudfront_mtls/locals.tf
  modules/aws/cloudflare_cloudfront_mtls/main.tf
  modules/aws/cloudflare_cloudfront_mtls/outputs.tf
  modules/aws/cloudflare_cloudfront_mtls/variables.tf
  terragrunt/infrastructure/aws/_env/my_portfolio.hcl
  terragrunt/infrastructure/aws/common/mumbai/cloudflare-origin-cert-rotator/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

add create variable
  modules/aws/cloudflare_cloudfront_mtls/data.tf
  modules/aws/cloudflare_cloudfront_mtls/main.tf
  modules/aws/cloudflare_cloudfront_mtls/outputs.tf
  modules/aws/cloudflare_cloudfront_mtls/variables.tf
Due: tofu-hclfmt

fix regression 1
  modules/aws/static_web_deployment/variables.tf
  terragrunt/infrastructure/aws/_env/my_portfolio.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

regression fix 1
  modules/aws/cloudflare_cloudfront_mtls/data.tf
  modules/aws/cloudflare_cloudfront_mtls/main.tf
  modules/aws/cloudflare_cloudfront_mtls/outputs.tf
  modules/aws/cloudflare_cloudfront_mtls/variables.tf
  terragrunt/infrastructure/aws/_env/mtls_rotator_shared.hcl
  terragrunt/infrastructure/aws/_env/my_portfolio.hcl
  terragrunt/infrastructure/aws/common/mumbai/cloudflare-origin-cert-rotator/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

regression fix 1
  modules/aws/cloudflare_cloudfront_mtls/data.tf
  modules/aws/cloudflare_cloudfront_mtls/main.tf
  modules/aws/cloudflare_cloudfront_mtls/outputs.tf
  modules/aws/cloudflare_cloudfront_mtls/variables.tf
  terragrunt/infrastructure/aws/common/mumbai/cloudflare-origin-cert-rotator/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

fix regression 2
  modules/aws/static_web_deployment/mtls_trust_store.tf
  modules/aws/static_web_deployment/variables.tf
  terragrunt/infrastructure/aws/_env/my_portfolio.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

fix regression 3
  terragrunt/infrastructure/aws/_env/my_portfolio.hcl
  terragrunt/infrastructure/aws/common/mumbai/cloudflare-origin-cert-rotator/terragrunt.hcl
Due: terragrunt-hclfmt

fix regression 3
  terragrunt/infrastructure/aws/_env/my_portfolio.hcl
Due: terragrunt-hclfmt

remove mtls support from static web module
  modules/aws/static_web_deployment/locals.tf
  modules/aws/static_web_deployment/mtls_trust_store.tf
  modules/aws/static_web_deployment/outputs.tf
  modules/aws/static_web_deployment/variables.tf
  terragrunt/infrastructure/aws/_env/my_portfolio.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

create s3 buckets for devops playground mtls store
  terragrunt/infrastructure/aws/development/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
  terragrunt/infrastructure/aws/production/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
  terragrunt/infrastructure/aws/production/mumbai/region.hcl
  terragrunt/infrastructure/aws/staging/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
  terragrunt/infrastructure/aws/staging/mumbai/region.hcl
Due: terragrunt-hclfmt

bugfix aws s3 bucket module for lifecycle
  modules/aws/aws_s3_bucket/lifecycle_policy.tf
  modules/aws/aws_s3_bucket/locals.tf
Due: tofu-hclfmt

enable mtls automation
  modules/aws/aws_s3_bucket/outputs.tf
  terragrunt/infrastructure/aws/common/mumbai/cloudflare-origin-cert-rotator/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

add bucket policies for lambda
  modules/aws/aws_s3_bucket/locals.tf
  modules/aws/aws_s3_bucket/main.tf
  modules/aws/aws_s3_bucket/variables.tf
  terragrunt/infrastructure/aws/_env/mtls_rotator_shared.hcl
  terragrunt/infrastructure/aws/development/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
  terragrunt/infrastructure/aws/production/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
  terragrunt/infrastructure/aws/staging/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

add support for new zone in cloudflare
  .gitignore
  terragrunt/infrastructure/cloudflare/zones/devops-playground.in/records/terragrunt.hcl
  terragrunt/infrastructure/cloudflare/zones/devops-playground.in/zone.hcl
Due: terragrunt-hclfmt

add default comment in cloudflare records
  modules/cloudflare/cloudflare_records/main.tf
  modules/cloudflare/cloudflare_records/variables.tf
  terragrunt/infrastructure/cloudflare/zones/devops-playground.in/records/terragrunt.hcl
  terragrunt/infrastructure/cloudflare/zones/yashrajdighe.in/records/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

deploy fixes to lambda
  modules/aws/cloudflare_cloudfront_mtls/code/handler.py
Due: none

update lambda to resolve cloudflare issue
  modules/aws/cloudflare_cloudfront_mtls/code/handler.py
  modules/aws/cloudflare_cloudfront_mtls/main.tf
  modules/aws/cloudflare_cloudfront_mtls/variables.tf
  terragrunt/infrastructure/aws/common/mumbai/cloudflare-origin-cert-rotator/terragrunt.hcl
Due: tofu-hclfmt, terragrunt-hclfmt

rename poc directories
  terragrunt/infrastructure/aws/_env/mtls_rotator_common.hcl
  terragrunt/infrastructure/aws/_env/mtls_rotator_devops_playground_in.hcl
  terragrunt/infrastructure/aws/_env/mtls_rotator_shared.hcl
  terragrunt/infrastructure/aws/common/mumbai/devops-playground-in-cloudflare-origin-cert-rotator/terragrunt.hcl
  terragrunt/infrastructure/aws/development/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
  terragrunt/infrastructure/aws/production/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
  terragrunt/infrastructure/aws/staging/mumbai/devops-playground-mtls-trust-store/terragrunt.hcl
Due: terragrunt-hclfmt

disable poc mtls
  terragrunt/infrastructure/aws/common/mumbai/cloudflare-origin-cert-rotator/terragrunt.hcl
Due: terragrunt-hclfmt

Path conditions:
  tofu-hclfmt: any of: \.tf$
  terragrunt-hclfmt: any of: \.hcl$
